.createTask {
  background-color: #1E6F9F;
  top: 10.8rem;
  border-radius: 8px;
}

.loading {
  margin: 0 auto;
  color: #4EA8DE;
}

.banner {
  background-color: #0D0D0D;
}

.blueText {
  color: #4EA8DE;
}

.purpleText {
  color: #8284FA;
}

.containerForBadges {
  padding-top: 5.5em;
}

.emptyTodoTopText {
  color: #808080;
}

.emptyTodoBottomText{
  color: #808080;
}

.errorText {
 color: red;
}
