.countBadge {
  background-color: #333333;
  color: #c9c9c9;
}

.round {
  position: relative;
}

.round label {
  background-color: transparent;
  
  border-radius: 50%;
  cursor: pointer;
  height: 18px;
  left: 0;
  position: absolute;
  top: 0;
  width: 18px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 5px;
  left: 4px;
  top: 4px;
  opacity: 0;
  position: absolute;
  transform: rotate(-45deg);
  width: 8px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  border-color: transparent;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.taskCard {
  background-color: #333333;

}

.checkmarkTextContainer {
  align-items: start;
}

.taskText {
  font-size: 14px;
  line-height: 19.6px;
}

.deleteBtn {
  bottom: 2px;
}

.colorPaletteBtn {
  border-width: 2px;
}

.completed {
  color: #808080;
  text-decoration: line-through;
}

.notCompleted {
  color: #F2F2F2;
}
